/* common */

header{
    background-color: var(--main-color);
}
.jumbo , .about {
    background-color: var(--secondary-color);
}
.footer-sm {
    background-color: var(--main-color);
}
.footer-xl {
    background-color: var(--main-color-light);
}
.portfolio-row > div > .content {
    background-color: var(--col-color);
}