/* common */

header{
    background-color: var(--main-color);
}
.jumbo , .about {
    background-color: var(--secondary-color);
}
.footer-sm {
    background-color: var(--main-color);
}
.footer-xl {
    background-color: var(--main-color-light);
}
.portfolio-row > div > .content {
    background-color: var(--col-color);
}
.about-row > div > .content {
    background-color: var(--col-color);
}
.contact-row > div > .content {
    background-color: var(--col-color);
}
#message {
    background-color: var(--col-color);
    height: 200px;
}
.my-border-radius {
    border-radius: 20px;
}