@media (min-width: 992px) { 
    .img-avatar {
        max-width: 150px;
        min-width: 150px;
    }
    header {
        padding: 0%;
    }
}
@media (min-width: 1140px) { 
    .img-avatar {
        max-width: 150px;
        min-width: 150px;
    }
}
